body {
  font-family: Helvetica;
  font-weight: 200;
  font-style: normal;
  line-height: 1.7;
}

img.rhs100 {
  float: right;
  width: 100px;
  padding-left: 1em;
}

img.lhs100 {
  float: left;
  width: 100px;
  padding-left: 2em;
}

figure.rhs {
  float: right;
  width: 570px;
  padding-left: 1em;
}

@media(min-width: 768px) {

d-article {
  font-size: 1.1rem;
  line-height: 1.3em;
  grid-template-columns: [screen-start] 1fr [page-start kicker-start] 60px [middle-start] 60px [text-start kicker-end] 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr [text-end gutter-start] 60px [middle-end] 60px [page-end gutter-end] 1fr [screen-end];
}
}

pre.sourceCode {
  background-color: #D4E6FC;
}

d-article h1 {
  font-size: 30px;
}

d-article h2 {
  font-size: 25px;
}
